{% extends "base.html" %} {% block content %}
 <div id="anime_downloader_wrapper">
    <div id="preloader">
        <div class='demo'>
            <!--        <div class="loader-inner">-->
            <div class='circle'>
                <div class='inner'></div>
            </div>
            <div class='circle'>
                <div class='inner'></div>
            </div>
            <div class='circle'>
                <div class='inner'></div>
            </div>
            <div class='circle'>
                <div class='inner'></div>
            </div>
            <div class='circle'>
                <div class='inner'></div>
            </div>
            <!--        </div>-->
        </div>
    </div>
    <div>
        <form id="program_list">
            {{ macros.setting_input_text_and_buttons('code', '작품 Code',
            [['analysis_btn', '분석'], ['go_linkkf_btn', 'Go 링크 애니']], desc='예)
            "https://linkkf.app/코드" 나 "코드"') }}
        </form>
        <form id="program_auto_form">
            <div id="episode_list"></div>
        </form>
    </div>
 </div>
    <!--전체-->
    <script src="{{ url_for('.static', filename='js/sjva_ui14.js') }}"></script>

    <script type="text/javascript">
        const package_name = "{{arg['package_name'] }}";
        const sub = "{{arg['sub'] }}";
        const ohli24_url = "{{arg['ohli24_url']}}";
        {#let current_data = '';#}

        const params = new Proxy(new URLSearchParams(window.location.search), {
            get: (searchParams, prop) => searchParams.get(prop),
        })

        const loader = document.getElementById("preloader");

        const dismissLoadingScreen = function () {
            loader.style.display = "none";
            $('.demo').css("display", "none")
        };

        const wait3seconds = function () {
            // REFERENCE:  https://www.w3schools.com/jsref/met_win_settimeout.asp
            const result = setTimeout(dismissLoadingScreen, 2000);
        };

        window.addEventListener("load", wait3seconds);


        function findGetParameter(parameterName) {
            let result = null,
                tmp = [];
            const items = location.search.substr(1).split("&");
            for (let index = 0; index < items.length; index++) {
                tmp = items[index].split("=");
                if (tmp[0] === parameterName) result = decodeURIComponent(tmp[1]);
            }
            return result;
        }

        function analyze(wr_id, bo_table) {
            // e.preventDefault();
            const code = document.getElementById("code").value
            console.log(code)
            $.ajax({
                url: '/' + package_name + '/ajax/' + sub + '/analysis',
                type: "POST",
                cache: false,
                data: {code: code, wr_id: wr_id, bo_table: bo_table},
                dataType: "json",
                success: function (ret) {
                    if (ret.ret === 'success' && ret.data != null) {
                        // {#console.log(ret.code)#}
                        console.log(ret.data)
                        make_program(ret.data)
                    } else {
                        $.notify('<strong>분석 실패</strong><br>' + ret.log, {type: 'warning'});
                    }
                }
            });
        }

        function make_program(data) {
            current_data = data;
            {#$("body").css({"background":"url("+data.poster_url+")"})#}

            // console.log('current_data:: ', data)
            str = "";
            tmp = '<div class="form-inline w-100">';
            tmp += m_button("check_download_btn", "선택 다운로드 추가", []);
            tmp += m_button("all_check_on_btn", "전체 선택", []);
            tmp += m_button("all_check_off_btn", "전체 해제", []);
            tmp += m_button("down_subtitle_btn", "자막만 전체 받기", [])
            tmp +=
                '&nbsp;&nbsp;&nbsp;<input id="new_title" name="new_title" class="form-control form-control-sm" value="' +
                data.title +
                '">';
            tmp += "</div>";
            tmp += '<div class="form-inline">';
            tmp += m_button("apply_new_title_btn", "저장폴더명 변경", []);
            tmp +=
                '&nbsp;&nbsp;&nbsp;<input id="new_season" name="new_season" class="form-control form-control-sm" value="' +
                data.season +
                '">';
            tmp += m_button("apply_new_season_btn", "시즌 변경 (숫자만 가능)", []);
            tmp += m_button("search_tvdb_btn", "TVDB", []);
            tmp += m_button("add_whitelist", "스케쥴링 추가", []);

            tmp += "</div>";
            tmp = m_button_group(tmp);
            str += tmp;
            // program
            // str += m_hr_black();
            str += "<div class='card p-lg-5 mt-md-3 p-md-3 border-light'>"

            str += m_row_start(0);
            tmp = "";
            if (data.poster_url != null)
                tmp = '<img src="' + data.poster_url + '" class="img-fluid">';
            str += m_col(3, tmp);
            tmp = "";
            tmp += m_row_start(0);
            tmp += m_col(3, "제목", "right");
            tmp += m_col(9, data.title);
            tmp += m_row_end();
            tmp += m_row_start(0);
            tmp += m_col(3, "시즌", "right");
            tmp += m_col(9, data.season);
            tmp += m_row_end();
            for (i in data.detail) {
                tmp += m_row_start(0);
                key = Object.keys(data.detail[i])[0];
                value = data.detail[i][key];
                tmp += m_col(3, key, "right");
                tmp += m_col(9, value);
                tmp += m_row_end();
            }

            str += m_col(9, tmp);
            str += m_row_end();

            // str += m_hr_black();
            str += "</div>"
            
            // 에피소드 카드 그리드 레이아웃
            str += '<div class="episode-list-container">';
            for (i in data.episode) {
                str += '<div class="episode-card">';
                str += '<div class="episode-thumb">';
                str += '<span class="episode-num">' + (parseInt(i) + 1) + '화</span>';
                str += '</div>';
                str += '<div class="episode-info">';
                str += '<div class="episode-title">' + data.episode[i].title + '</div>';
                str += '<div class="episode-filename">' + data.episode[i].filename + '</div>';
                str += '<div class="episode-actions">';
                str += '<input id="checkbox_' + i + '" name="checkbox_' + i + '" type="checkbox" checked data-toggle="toggle" data-on="선택" data-off="-" data-onstyle="success" data-offstyle="secondary" data-size="small">';
                str += m_button("add_queue_btn", "다운로드", [{key: "idx", value: i}]);
                str += '</div>';
                str += '</div>';
                str += '</div>';
            }
            str += '</div>';
            document.getElementById("episode_list").innerHTML = str;
            $('input[id^="checkbox_"]').bootstrapToggle();
        }

        $(function () {
            console.log(params.wr_id)
            console.log(findGetParameter('wr_id'))
            console.log(params.code)
            if (params.code === '') {

            } else {
                document.getElementById("code").value = params.code
                // {#document.getElementById("analysis_btn").click();#}
            }

            if ("{{arg['linkkf_current_code']}}" !== "") {
                if (params.code === null) {
                    console.log('params.code === null')
                    document.getElementById("code").value = "{{arg['linkkf_current_code']}}";

                } else if (params.code === '') {
                    document.getElementById("code").value = "{{arg['linkkf_current_code']}}";
                } else {

                    console.log('params code exist')
                    console.log(params.code)
                    document.getElementById("code").value = params.code

                    analyze(params.wr_id, params.bo_table)
                    // document.getElementById("analysis_btn").click();
                    // $('#analysis_btn').trigger('click')
                }
                // 값이 공백이 아니면 분석 버튼 계속 누름
                // {#document.getElementById("analysis_btn").click();#}
            } else {

            }

        })

        $(document).ready(function () {

            console.log('wr_id::', params.wr_id)

        });

        $("#analysis_btn").unbind("click").bind('click', function (e) {
            e.preventDefault();
            e.stopPropagation()
            const code = document.getElementById("code").value
            console.log(code)
            $.ajax({
                url: '/' + package_name + '/ajax/' + sub + '/analysis',
                type: "POST",
                cache: false,
                data: {code: code},
                dataType: "json",
                success: function (ret) {
                    if (ret.ret === 'success' && ret.data != null) {
                        // {#console.log(ret.code)#}
                        console.log(ret.data)
                        make_program(ret.data)
                    } else {
                        $.notify('<strong>분석 실패</strong><br>' + ret.log, {type: 'warning'});
                    }
                }
            });
        });


        $("body").on('click', '#go_ohli24_btn', function (e) {
            e.preventDefault();
            window.open("{{arg['ohli24_url']}}", "_blank");
        });

        $("body").on('click', '#all_check_on_btn', function (e) {
            e.preventDefault();
            $('input[id^="checkbox_"]').bootstrapToggle('on')
        });

        $("body").on('click', '#all_check_off_btn', function (e) {
            e.preventDefault();
            $('input[id^="checkbox_"]').bootstrapToggle('off')
        });

        $("body").on('click', '#add_queue_btn', function (e) {
            e.preventDefault();
            data = current_data.episode[$(this).data('idx')];
            console.log('data:::>', data)
            $.ajax({
                url: '/' + package_name + '/ajax/' + sub + '/add_queue',
                type: "POST",
                cache: false,
                data: {data: JSON.stringify(data)},
                dataType: "json",
                success: function (data) {
                    console.log('#add_queue_btn::data >>', data)
                    if (data.ret == 'enqueue_db_append' || data.ret == 'enqueue_db_exist') {
                        $.notify('<strong>다운로드 작업을 추가 하였습니다.</strong>', {type: 'success'});
                    } else if (data.ret == 'queue_exist') {
                        $.notify('<strong>이미 큐에 있습니다. 삭제 후 추가하세요.</strong>', {type: 'warning'});
                    } else if (data.ret == 'db_completed') {
                        $.notify('<strong>DB에 완료 기록이 있습니다.</strong>', {type: 'warning'});
                    } else {
                        $.notify('<strong>추가 실패</strong><br>' + ret.log, {type: 'warning'});
                    }
                }
            });

        });

        $("body").on('click', '#check_download_btn', function (e) {
            e.preventDefault();
            all = $('input[id^="checkbox_"]');
            let data = [];
            let idx;
            for (let i in all) {
                if (all[i].checked) {
                    idx = parseInt(all[i].id.split('_')[1])
                    data.push(current_data.episode[idx]);
                }
            }
            if (data.length == 0) {
                $.notify('<strong>선택하세요.</strong>', {type: 'warning'});
                return;
            }
            $.ajax({
                url: '/' + package_name + '/ajax/' + sub + '/add_queue_checked_list',
                type: "POST",
                cache: false,
                data: {data: JSON.stringify(data)},
                dataType: "json",
                success: function (data) {
                    $.notify('<strong>백그라운드로 작업을 추가합니다.</strong>', {type: 'success'});
                }
            });
        });
    </script>
    <style>
        #anime_downloader_wrapper {
            font-family: NanumSquareNeo, system-ui, -apple-system, Segoe UI, Roboto, Helvetica Neue, Noto Sans, Liberation Sans, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
        }

        body {
            background-image: linear-gradient(90deg, #33242c, #263341, #17273a);

        }

        #anime_downloader_wrapper {

            color: #d6eaf8;
        }

        button.code-button {
            min-width: 82px !important;
        }

        .tooltip {
            position: relative;
            display: block;
        }

        [data-tooltip-text]:hover {
            position: relative;
        }

        [data-tooltip-text]:after {
            -webkit-transition: bottom 0.3s ease-in-out, opacity 0.3s ease-in-out;
            -moz-transition: bottom 0.3s ease-in-out, opacity 0.3s ease-in-out;
            transition: bottom 0.3s ease-in-out, opacity 0.3s ease-in-out;

            background-color: rgba(0, 0, 0, 0.8);

            -webkit-box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
            -moz-box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
            box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);

            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;

            color: #ffffff;
            font-size: 12px;
            margin-bottom: 10px;
            padding: 7px 12px;
            position: absolute;
            width: auto;
            min-width: 50px;
            max-width: 300px;
            word-wrap: break-word;

            z-index: 9999;

            opacity: 0;
            left: -9999px;
            top: 90%;

            content: attr(data-tooltip-text);
        }

        [data-tooltip-text]:hover:after {
            top: 230%;
            left: 0;
            opacity: 1;
        }

        [data-tooltip-text]:hover {
            position: relative;
        }

        [data-tooltip-text]:after {
            -webkit-transition: bottom 0.3s ease-in-out, opacity 0.3s ease-in-out;
            -moz-transition: bottom 0.3s ease-in-out, opacity 0.3s ease-in-out;
            transition: bottom 0.3s ease-in-out, opacity 0.3s ease-in-out;

            background-color: rgba(0, 0, 0, 0.8);

            -webkit-box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
            -moz-box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
            box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);

            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;

            color: #ffffff;
            font-size: 12px;
            margin-bottom: 10px;
            padding: 7px 12px;
            position: absolute;
            width: auto;
            min-width: 50px;
            max-width: 300px;
            word-wrap: break-word;

            z-index: 9999;

            opacity: 0;
            left: -9999px;
            top: -210% !important;

            content: attr(data-tooltip-text);
        }

        [data-tooltip-text]:hover:after {
            top: 130%;
            left: 0;
            opacity: 1;
        }

        .card {
            border: none;
            box-shadow: inset 1px 1px hsl(0deg 0% 100% / 20%), inset -1px -1px hsl(0deg 0% 100% / 10%), 1px 3px 24px -1px rgb(0 0 0 / 15%);
            background-color: transparent;
            background-image: linear-gradient(125deg, hsla(0, 0%, 100%, .3), hsla(0, 0%, 100%, .2) 70%);
            backdrop-filter: blur(5px);
        }

        .card.border-light {
            border-radius: 30px 10px;
            --bs-border-opacity: 1;
            border-color: rgba(var(--bs-light-rgb), var(--bs-border-opacity)) !important;
        }

        /* 에피소드 목록 컨테이너 */
        .episode-list-container {
            margin-top: 20px;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
            gap: 10px;
        }
        
        /* 에피소드 카드 */
        .episode-card {
            display: flex;
            align-items: center;
            gap: 12px;
            padding: 12px 14px;
            background: linear-gradient(135deg, rgba(30, 41, 59, 0.85) 0%, rgba(15, 23, 42, 0.85) 100%);
            border-radius: 8px;
            border: 1px solid rgba(148, 163, 184, 0.12);
            transition: all 0.2s ease;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
        }
        
        .episode-card:hover {
            background: linear-gradient(135deg, rgba(51, 65, 85, 0.95) 0%, rgba(30, 41, 59, 0.95) 100%);
            border-color: rgba(96, 165, 250, 0.5);
            transform: translateY(-2px);
            box-shadow: 0 4px 15px rgba(96, 165, 250, 0.2);
        }
        
        /* 에피소드 썸네일 */
        .episode-thumb {
            position: relative;
            width: 40px;
            min-width: 40px;
            height: 40px;
            border-radius: 8px;
            overflow: hidden;
            background: linear-gradient(135deg, #3b82f6 0%, #1d4ed8 100%);
            display: flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
        }
        
        /* 에피소드 번호 배지 */
        .episode-num {
            color: white;
            font-size: 11px;
            font-weight: 700;
        }
        
        /* 에피소드 정보 */
        .episode-info {
            flex: 1;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            gap: 10px;
            min-width: 0;
        }
        
        .episode-title {
            color: #e2e8f0;
            font-weight: 600;
            font-size: 14px;
            line-height: 1.3;
            flex: 1;
            min-width: 0;
        }
        
        .episode-filename {
            color: #64748b;
            font-size: 11px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            flex-shrink: 0;
            max-width: 40%;
        }
        
        /* 에피소드 액션 버튼 */
        .episode-actions {
            display: flex;
            align-items: center;
            gap: 8px;
            margin-top: 4px;
        }
        
        .episode-actions .btn {
            font-size: 11px;
            padding: 3px 10px;
            border-radius: 4px;
        }
        
        .episode-actions .toggle {
            transform: scale(0.85);
        }
        
        /* 모바일 반응형 - Bootstrap 모든 레이아웃 강제 덮어쓰기 */
        @media (max-width: 768px) {
            /* 전체 페이지 기본 설정 */
            body {
                overflow-x: hidden !important;
                padding: 0 !important;
                margin: 0 !important;
            }
            
            /* 모든 컨테이너/row 폭 100% 강제 */
            .container, .container-fluid, .container-sm, .container-md, .container-lg,
            .row, form, #program_list, #program_auto_form, #episode_list {
                width: 100% !important;
                max-width: 100% !important;
                padding-left: 10px !important;
                padding-right: 10px !important;
                margin-left: 0 !important;
                margin-right: 0 !important;
                box-sizing: border-box !important;
            }
            
            /* form-group 및 모든 col 클래스 */
            .form-group, .form-inline,
            [class*="col-"] {
                flex: 0 0 100% !important;
                max-width: 100% !important;
                width: 100% !important;
                padding-left: 0 !important;
                padding-right: 0 !important;
            }
            
            /* row 마진 제거 */
            .row {
                margin-left: 0 !important;
                margin-right: 0 !important;
            }
            
            /* 상단 정보 카드 */
            .card.p-lg-5, .card.border-light {
                width: calc(100% - 20px) !important;
                max-width: 100% !important;
                padding: 15px !important;
                margin: 10px !important;
                border-radius: 12px !important;
                box-sizing: border-box !important;
            }
            
            .card.p-lg-5 > .row {
                display: flex !important;
                flex-direction: column !important;
                width: 100% !important;
                margin: 0 !important;
            }
            
            /* 메인 썸네일 - 중앙 정렬 */
            .card.p-lg-5 > .row > [class*="col-"]:first-child {
                flex: 0 0 100% !important;
                max-width: 100% !important;
                text-align: center !important;
                margin-bottom: 15px !important;
                padding: 0 !important;
            }
            
            .card.p-lg-5 > .row > [class*="col-"]:first-child img {
                width: 70% !important;
                max-width: 220px !important;
                height: auto !important;
                border-radius: 10px !important;
                box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4) !important;
            }
            
            /* 정보 테이블 각 행 - 카드 스타일 */
            .card.p-lg-5 .row .row {
                display: flex !important;
                flex-direction: row !important;
                flex-wrap: nowrap !important;
                align-items: flex-start !important;
                width: 100% !important;
                max-width: 100% !important;
                margin: 0 0 6px 0 !important;
                padding: 10px 12px !important;
                background: rgba(255, 255, 255, 0.06) !important;
                border-radius: 8px !important;
                box-sizing: border-box !important;
            }
            
            /* 정보 라벨 */
            .card.p-lg-5 .row .row > [class*="col-"]:first-child {
                flex: 0 0 60px !important;
                max-width: 60px !important;
                min-width: 60px !important;
                font-size: 11px !important;
                font-weight: 600 !important;
                color: #94a3b8 !important;
                text-align: left !important;
                padding: 0 5px 0 0 !important;
            }
            
            /* 정보 값 */
            .card.p-lg-5 .row .row > [class*="col-"]:last-child {
                flex: 1 1 auto !important;
                max-width: none !important;
                font-size: 12px !important;
                color: #e2e8f0 !important;
                word-break: break-word !important;
                text-align: left !important;
                padding: 0 !important;
            }
            
            /* 버튼 그룹 */
            .form-inline {
                display: flex !important;
                flex-wrap: wrap !important;
                gap: 6px !important;
                margin-bottom: 10px !important;
            }
            
            .form-inline .btn {
                font-size: 11px;
                padding: 6px 10px;
            }
            
            .form-inline input.form-control {
                width: 100% !important;
                margin-bottom: 8px !important;
            }
            
            /* 에피소드 목록 - 화면 폭에 꽉 차게 */
            .episode-list-container {
                display: flex !important;
                flex-direction: column !important;
                gap: 8px !important;
                width: 100% !important;
                max-width: 100% !important;
                padding: 0 !important;
                margin: 15px 0 !important;
                box-sizing: border-box !important;
            }
            
            .episode-card {
                display: flex !important;
                align-items: center !important;
                width: 100% !important;
                max-width: 100% !important;
                padding: 10px 12px !important;
                gap: 10px !important;
                margin: 0 !important;
                box-sizing: border-box !important;
            }
            
            .episode-thumb {
                width: 40px !important;
                min-width: 40px !important;
                height: 40px !important;
                flex-shrink: 0 !important;
            }
            
            .episode-info {
                flex: 1 !important;
                min-width: 0 !important;
                flex-direction: row !important;
                align-items: center !important;
                justify-content: space-between !important;
            }
            
            .episode-title {
                font-size: 12px !important;
                flex: 1 !important;
                min-width: 0 !important;
            }
            
            .episode-filename {
                font-size: 10px !important;
                color: #64748b !important;
                flex-shrink: 0 !important;
                max-width: 35% !important;
                margin-left: 8px !important;
            }
            
            .episode-actions {
                display: flex !important;
                flex-wrap: wrap !important;
                gap: 6px !important;
                margin-top: 5px !important;
            }
            
            .episode-actions .btn {
                font-size: 10px !important;
                padding: 4px 10px !important;
            }
            
            .episode-actions .toggle {
                transform: scale(0.85) !important;
            }
        }
        
        /* 더 작은 화면 (400px 이하) */
        @media (max-width: 400px) {
            .episode-thumb {
                width: 35px !important;
                min-width: 35px !important;
                height: 35px !important;
            }
            
            .episode-num {
                font-size: 9px !important;
            }
            
            .episode-title {
                font-size: 11px !important;
            }
            
            .episode-filename {
                max-width: 30% !important;
            }
            
            .episode-actions .btn {
                font-size: 9px !important;
                padding: 3px 8px !important;
            }
        }

        #airing_list {
            display: none;
        }

        .cut-text {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            width: 100%;
        }

        #screen_movie_list {
            margin-top: 10px;
        }

        /*@import url(https://fonts.googleapis.com/css?family=Lato);*/
        /*a {*/
        /*    position: fixed;*/
        /*    bottom: 2%;*/
        /*    display: block;*/
        /*    text-align: center;*/
        /*    color: #0fa;*/
        /*    font-family: "Lato", sans-serif;*/
        /*    text-decoration: none !important;*/
        /*    width: 100%;*/
        /*}*/

        /*body, html {*/
        /*    width: 100%;*/
        /*    height: 100%;*/
        /*    overflow: hidden;*/
        /*}*/

        /*body {*/
        /*    background: linear-gradient(90deg, #00b377, #00d68f);*/
        /*    box-shadow: inset 0px 0px 90px rgba(0, 0, 0, 0.5);*/
        /*    margin: 0px;*/
        /*    padding: 0px;*/
        /*}*/

        .demo {
            width: 100px;
            height: 102px;
            border-radius: 100%;
            position: absolute;
            top: 45%;
            left: calc(50% - 50px);
        }

        .circle {
            width: 100%;
            height: 100%;
            position: absolute;
        }

        .circle .inner {
            width: 100%;
            height: 100%;
            border-radius: 100%;
            border: 5px solid rgba(0, 255, 170, 0.7);
            border-right: none;
            border-top: none;
            backgroudn-clip: padding;
            box-shadow: inset 0px 0px 10px rgba(0, 255, 170, 0.15);
        }

        @-webkit-keyframes spin {
            from {
                transform: rotate(0deg);
            }
            to {
                transform: rotate(360deg);
            }
        }

        @keyframes spin {
            from {
                transform: rotate(0deg);
            }
            to {
                transform: rotate(360deg);
            }
        }

        .circle:nth-of-type(0) {
            transform: rotate(0deg);
        }

        .circle:nth-of-type(0) .inner {
            -webkit-animation: spin 2s infinite linear;
            animation: spin 2s infinite linear;
        }

        .circle:nth-of-type(1) {
            transform: rotate(70deg);
        }

        .circle:nth-of-type(1) .inner {
            -webkit-animation: spin 2s infinite linear;
            animation: spin 2s infinite linear;
        }

        .circle:nth-of-type(2) {
            transform: rotate(140deg);
        }

        .circle:nth-of-type(2) .inner {
            -webkit-animation: spin 2s infinite linear;
            animation: spin 2s infinite linear;
        }

        .demo {
            -webkit-animation: spin 5s infinite linear;
            animation: spin 5s infinite linear;
            background: rgba(0, 0, 0, 0.2);
            background: radial-gradient(#222, #000);
            bottom: 0;
            left: 0;
            overflow: hidden;
            /*position: fixed;*/
            right: 0;
            /*top: 0;*/
            z-index: 99999;
            opacity: 0.5;
            margin: 0 auto;
            transform: translate(-50%, -50%);
            position: absolute;
            top: 50%;

        }

        .circle {
            width: 100%;
            height: 100%;
            position: absolute;
        }

        .circle .inner {
            width: 100%;
            height: 100%;
            border-radius: 100%;
            border: 5px solid rgba(0, 255, 170, 0.7);
            border-right: none;
            border-top: none;
            backgroudn-clip: padding;
            box-shadow: inset 0px 0px 10px rgba(0, 255, 170, 0.15);
        }

        .loader-inner {
            bottom: 0;
            height: 60px;
            left: 0;
            margin: auto;
            position: absolute;
            right: 0;
            top: 0;
            width: 100px;
        }

        #preloader {
            /*background-color: green;*/
            /*color: white;*/
            /*height: 100vh;*/
            /*width: 100%;*/
            /*position: fixed;*/
            /*z-index: 100;*/
            background: rgba(0, 0, 0, 0.2);
            background: radial-gradient(#222, #000);
            bottom: 0;
            left: 0;
            overflow: hidden;
            position: fixed;
            right: 0;
            top: 0;
            z-index: 99999;
            opacity: 0.5;
        }
        
        /* 로딩 인디케이터 오버라이드 */
        #loading {
            background: rgba(15, 23, 42, 0.85) !important;
            backdrop-filter: blur(8px) !important;
        }
        
        #loading img,
        #loading svg {
            display: none !important;
            visibility: hidden !important;
            width: 0 !important;
            height: 0 !important;
        }
        
        #loading::before {
            content: '';
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 50px;
            height: 50px;
            border: 4px solid rgba(96, 165, 250, 0.2);
            border-top-color: #60a5fa;
            border-radius: 50%;
            animation: loader-spin 0.8s linear infinite;
            z-index: 100001;
        }
        
        @keyframes loader-spin {
            to { transform: translate(-50%, -50%) rotate(360deg); }
        }
        
        #modal_loading img,
        #modal_loading svg {
            display: none !important;
            visibility: hidden !important;
            width: 0 !important;
            height: 0 !important;
        }
        
        #modal_loading::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 40px;
            height: 40px;
            border: 3px solid rgba(96, 165, 250, 0.2);
            border-top-color: #60a5fa;
            border-radius: 50%;
            animation: loader-spin 0.8s linear infinite;
        }
    </style>
{% endblock %}
